@charset "UTF-8";

.content_0 {
	position: relative;
}
.header {
	position: absolute;
	width: 100%;
}

.header-background {
	position: relative;
}
.header-navigation {
	position: absolute;
	width: 100%;
}

.header-buttons-panel {
    display: flex;
	height: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
}
.logo {
	padding: 10px;
	margin-right: 66px;
	margin-left: 2px;
	border-top: 2px solid transparent;
	color: White;
    font-family: 'Yeseva One';
    font-size: 18px;
    line-height: 18px;
}
[class^="button"] {
	padding: 10px;
	margin-right: 2px;
	margin-left: 2px;
	border-top: 2px solid transparent;
	color: White;
    transition: 0.25s;
    font-family: 'Gentium Book Basic';
    font-size: 14px;
    line-height: 18px;
}
[class^="icon"] {
	padding: 10px;
	margin-left: 2px;
	border-top: 2px solid transparent;
	color: #e8b42e;
    transition: 0.25s;
    font-size: 14px;
    line-height: 18px;
}
[class^="icon"]:hover {
	color: White;
}
[class^="button"]:hover {
	border-top: 2px solid White;
}